Unsupervised : ASSOCIATION

In [118]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [121]:
df = pd.read_csv('ChannelsDataSet.csv', names = ['channels'], sep = ',')
df

                                      channels
0            CNN, ABP News, India TV, BBC news
1        Times Now, CNN, ABP News, Republic TV
2        India TV, BBC news, Aaj Tak, Zee News
3    India TV, BBC news, ABP News, Republic TV
4            CNN, ABP News, India TV, BBC news
5             BBC news, Aaj Tak, Zee News, CNN
6        BBC news, Aaj Tak, Zee News, India TV
7                 India TV, ABP News, BBC news
8           Times Now, CNN, India TV, BBC News
9        Aaj Tak, Zee News, India TV, ABP News
10            CNN, ABP News, BBC news, Aaj Tak
11          India TV, BBC news, Times Now, CNN
12                Zee News, India TV, ABP News
13            BBC news, Zee News, CNN, Aaj Tak
14  India TV,  ABP News, Republic TV, BBC news
15                 Aaj Tak, India TV, ABP News
16       India TV, Aaj Tak, Zee News, BBC news
17                     CNN, India TV, BBC News
18   ABP News, Republic TV, India TV, BBC news
19       BBC news, Aaj Tak, India TV, Zee News
20                     India TV, BBC News, CNN

In [122]:
df.head()

                                    channels
0          CNN, ABP News, India TV, BBC news
1      Times Now, CNN, ABP News, Republic TV
2      India TV, BBC news, Aaj Tak, Zee News
3  India TV, BBC news, ABP News, Republic TV
4          CNN, ABP News, India TV, BBC news

In [123]:
df.shape

(21, 1)

In [125]:
data = list(df["channels"].apply(lambda x:x.split(",") ))
data

[['CNN', ' ABP News', ' India TV', ' BBC news'],
 ['Times Now', ' CNN', ' ABP News', ' Republic TV'],
 ['India TV', ' BBC news', ' Aaj Tak', ' Zee News'],
 ['India TV', ' BBC news', ' ABP News', ' Republic TV'],
 ['CNN', ' ABP News', ' India TV', ' BBC news'],
 ['BBC news', ' Aaj Tak', ' Zee News', ' CNN'],
 ['BBC news', ' Aaj Tak', ' Zee News', ' India TV'],
 ['India TV', ' ABP News', ' BBC news'],
 ['Times Now', ' CNN', ' India TV', ' BBC News'],
 ['Aaj Tak', ' Zee News', ' India TV', ' ABP News'],
 ['CNN', ' ABP News', ' BBC news', ' Aaj Tak'],
 [' India TV', ' BBC news', ' Times Now', ' CNN'],
 ['Zee News', ' India TV', ' ABP News'],
 ['BBC news', ' Zee News', ' CNN', ' Aaj Tak'],
 ['India TV', '  ABP News', ' Republic TV', ' BBC news'],
 ['Aaj Tak', ' India TV', ' ABP News'],
 ['India TV', ' Aaj Tak', ' Zee News', ' BBC news'],
 ['CNN', ' India TV', ' BBC News'],
 ['ABP News', ' Republic TV', ' India TV', ' BBC news'],
 ['BBC news', ' Aaj Tak', ' India TV', ' Zee News'],
 [' India TV', ' BBC News', ' CNN']]

In [126]:
 # Apriori Algorithm and One-Hot Encoding
 # Apriori's algorithm transforms True/False or 1/0.
 # Using TransactionEncoder, we convert the list to a One-Hot Encoded Boolean list.
 # Products that customers bought or did not buy during shopping will now be represented by values 1 and 0.

In [128]:
 #Let's transform the list, with one-hot encoding
 from mlxtend.preprocessing import TransactionEncoder
 a = TransactionEncoder()
 a_data = a.fit(data).transform(data)
 df = pd.DataFrame(a_data,columns=a.columns_)
 df = df.replace(False,0)
 df

,ABP News,ABP News,Aaj Tak,BBC News,BBC news,CNN,India TV,Republic TV,Times Now,Zee News,ABP News,Aaj Tak,BBC news,CNN,India TV,Times Now,Zee News
0,0,True,0,0,True,0,True,0,0,0,0,0,0,True,0,0,0
1,0,True,0,0,0,True,0,True,0,0,0,0,0,0,0,True,0
2,0,0,True,0,True,0,0,0,0,True,0,0,0,0,True,0,0
3,0,True,0,0,True,0,0,True,0,0,0,0,0,0,True,0,0
4,0,True,0,0,True,0,True,0,0,0,0,0,0,True,0,0,0
5,0,0,True,0,0,True,0,0,0,True,0,0,True,0,0,0,0
6,0,0,True,0,0,0,True,0,0,True,0,0,True,0,0,0,0
7,0,True,0,0,True,0,0,0,0,0,0,0,0,0,True,0,0
8,0,0,0,True,0,True,True,0,0,0,0,0,0,0,0,True,0
9,0,True,0,0,0,0,True,0,0,True,0,True,0,0,0,0,0
10,0,True,True,0,True,0,0,0,0,0,0,0,0,True,0,0,0
11,0,0,0,0,True,True,True,0,True,0,0,0,0,0,0,0,0
12,0,True,0,0,0,0,True,0,0,0,0,0,0,0,0,0,True
13,0,0,True,0,0,True,0,0,0,True,0,0,True,0,0,0,0
14,True,0,0,0,True,0,0,True,0,0,0,0,0,0,True,0,0
15,0,True,0,0,0,0,True,0,0,0,0,True,0,0,0,0,0
16,0,0,True,0,True,0,0,0,0,True,0,0,0,0,True,0,0
17,0,0,0,True,0,0,True,0,0,0,0,0,0,True,0,0,0
18,0,0,0,0,True,0,True,True,0,0,True,0,0,0,0,0,0
19,0,0,True,0,0,0,True,0,0,True,0,0,True,0,0,0,0
20,0,0,0,True,0,True,True,0,0,0,0,0,0,0,0,0,0

In [129]:
 # Applying Apriori and Resulting
 # The next step is to create the Apriori Model. We can change all the parameters in the Apriori Model in the mlxtend package.
 # I will try to use minimum support parameters for this modeling.
 # For this, I set a min_support value with a threshold value of 20% and printed them on the screen as well.

In [131]:
#set a threshold value for the support value and calculate the support value.
df = apriori(df, min_support = 0.2, use_colnames = True, verbose = 1)
df

Processing 18 combinations | Sampling itemset size 3

C:\Users\Sneha Reddy\AppData\Local\Programs\Python\Python312\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                itemsets
0   0.428571             ( ABP News)
1   0.333333              ( Aaj Tak)
2    0.47619             ( BBC news)
3   0.285714                  ( CNN)
4   0.571429             ( India TV)
5   0.333333             ( Zee News)
6   0.238095              (India TV)
7   0.238095  ( ABP News,  BBC news)
8   0.238095  ( ABP News,  India TV)
9   0.285714   ( Zee News,  Aaj Tak)
10  0.238095   (India TV,  BBC news)

In [139]:
# # Processing 42 combinations | Sampling itemset size 3
 # I chose the 60% minimum confidence value. In other words, when channel X is purchased, we can say that the purchase of channel Y is 60% or more.

In [140]:
#Let's view our interpretation values using the Associan rule function.
df_ar = association_rules(df, metric = "confidence", min_threshold = 0.6, num_itemsets=1)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,( Zee News),( Aaj Tak),0.333333,0.333333,0.285714,0.857143,2.571429,1.0,0.174603,4.666667,0.916667,0.75,0.785714,0.857143
1,( Aaj Tak),( Zee News),0.333333,0.333333,0.285714,0.857143,2.571429,1.0,0.174603,4.666667,0.916667,0.75,0.785714,0.857143
2,(India TV),( BBC news),0.238095,0.476190,0.238095,1.000000,2.100000,1.0,0.124717,inf,0.687500,0.50,1.000000,0.750000